@font-face {
  font-family: "FSElliotPro";
  src: url("./assets/FSElliotProRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FSElliotPro Bold";
  src: url("./assets/FSElliotProBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

#root {
  width: 100%;
  height: 100%;
}
